<div class="row">
  <div class="col-lg-8">
    <h3>Carrito</h3>
    <div class="cart-item" *ngFor="let item of items">
      <span class="mt-2">{{ item.name }}</span>
      <span class="mt-2">{{ item.price }} €</span>
      <button (click)="deleteItem(item)" class="btn btn-danger">&times;</button>
    </div>

    <div class="cart-item">
      <span><b>Precio total : </b></span>
      <span>{{ totalAmount }} €</span>
    </div>
    <!-- <app-shipping></app-shipping> -->

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name"> Nombre </label>

        <input type="text" id="name" formControlName="name" />
      </div>

      <div>
        <label for="address"> Dirección </label>

        <input type="text" id="address" formControlName="address" />
      </div>

      <button class="button" type="submit">Realizar pedido</button>
    </form>
  </div>
  <!-- <div class="col-lg-4 pt-3">
    <app-shipping></app-shipping>
  </div> -->
</div>
