.badge{
    position: absolute;
    margin-top: -20px;
    margin-left: 15px;
    font-size: 10px;
    padding: 3px;
    color: #111;
    border-radius: 100%;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/